on:
  push:
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Release OCI image
    runs-on: ubuntu-latest

    # https://docs.github.com/en/actions/reference/authentication-in-a-workflow
    permissions:
      id-token: write
      packages: write
      contents: read

    steps:
    - uses: actions/checkout@v2
    - uses: chainguard-dev/actions/apko-build@feature/apko-build
      with:
        config: .apko.yaml
        tag: ${{ github.repository }}:${{ github.ref_name }}
